<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Understand data analysis and visualization techniques  
- Learn about tools used in Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. Matlab
9. SAS
10. Go
11. Rust
12. Swift

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Scipy
7. Tenser flow
8. keras
9. Pytorch
10. plotly
11. Apache Spark
12. NLTK

| Data Science Tools |
|---------|
|1.Jupyter Notebook|
|2.Zeppelin |
|3.Apache Spark|
|4.RStudio|
|5.Anaconda|
|6.Spyder|

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
John Doe