<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Understand data analysis and visualization techniques  
- Explore basic machine learning concepts  
- Learn about tools used in Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

| Data Science Tools |
|---------|
|1.Jupyter Notebook|
|2.Google Colab |
|3.Vs Code|

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

# This is a simple arithmetic expression to multiply then add integers

In [3]:
(3 * 4) + 5

17

# This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

<h2>Author<h2>
Umer Anis